#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav {
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-title {
  margin-left: 0.8rem;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.search-btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.movie-poster {
  cursor: default;
  min-height: 480px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
