#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav {
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-title {
  margin-left: 0.8rem;
}
